.card {
  border-style: ridge;
  margin: 30px;
  background-color: turquoise;
  display: grid;
}

.card_title {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card_prio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
}

.watched_style {
  justify-self: flex-end;
}

.delete {
  justify-self: end;
  margin-top: -13px;
}

.deleteButton {
  border: none;
  border-radius: 10px;
  background-color: brown;
  color: aliceblue;
}
